---
import './src/styles/global.css';
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Certa Bookkeeping</title>
	</head>
	<body class="h-full [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
		<slot />
	</body>
</html>
